datasets==2.21.0
keras==3.5.0
matplotlib==3.8.4
nlpaug==1.1.11
numpy==2.1.0
pandas==2.2.2
pytorch_lightning==2.4.0
scikit_learn==1.4.2
seaborn==0.13.2
tensorflow==2.17.0
tensorflow_intel==2.17.0
torch==2.4.0+cu124
tqdm==4.66.4
transformers==4.44.0
wandb==0.17.7
